name: HACS Action
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          additional_files: run common checks helpers
        env:
          SHELLCHECK_OPTS: --exclude SC2034

  integration:
    needs: lint
    runs-on: ubuntu-latest
    name: "integration: ${{ matrix.repository }}"
    strategy:
      matrix:
        repository:
          - hacs/integration
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: HACS Action
        uses: ./
        with:
          category: integration
          repository: ${{ matrix.repository }}

  theme:
    needs: lint
    runs-on: ubuntu-latest
    name: "theme: ${{ matrix.repository }}"
    strategy:
      matrix:
        repository:
          - basnijholt/lovelace-ios-dark-mode-theme
          - home-assistant-community-themes/template
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: HACS Action
        uses: ./
        with:
          category: theme
          post: false
          repository: ${{ matrix.repository }}

  plugin:
    needs: lint
    runs-on: ubuntu-latest
    name: "plugin: ${{ matrix.repository }}"
    strategy:
      matrix:
        repository:
          - ofekashery/vertical-stack-in-card
          - custom-cards/boilerplate-card
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: HACS Action
        uses: ./
        with:
          category: plugin
          ignore: images
          post: false
          repository: ${{ matrix.repository }}

  netdaemon:
    needs: lint
    runs-on: ubuntu-latest
    name: "netdaemon: ${{ matrix.repository }}"
    strategy:
      matrix:
        repository:
          - hacs/ND-NotifyUpdates
          - net-daemon/netdaemon-app-template
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: HACS Action
        uses: ./
        with:
          category: netdaemon
          ignore: topics
          post: false
          repository: ${{ matrix.repository }}

  appdaemon:
    needs: lint
    runs-on: ubuntu-latest
    name: "appdaemon: ${{ matrix.repository }}"
    strategy:
      matrix:
        repository:
          - ludeeus/ad-hacs
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: HACS Action
        uses: ./
        with:
          category: appdaemon
          ignore: hacsjson
          post: false
          repository: ${{ matrix.repository }}

  python_script:
    needs: lint
    runs-on: ubuntu-latest
    name: "python_scripts: ${{ matrix.repository }}"
    strategy:
      matrix:
        repository:
          - ludeeus/ps-hacs
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: HACS Action
        uses: ./
        with:
          category: python_scripts
          ignore: hacsjson information
          post: false
          repository: ${{ matrix.repository }}
